---
---

@import "bootstrap";

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  text-align: center;
  margin: 0 20px;
  color: #999;
  font-size: 12;
  text-align: right;
}

.subtitle {
  fontSize: 15px;
  font-weight: 100;
}

.banner {
  border-bottom: 1px solid #e1e4e8;
  padding-bottom: 20px;
}

.apps-container {
}
.app-container {
}
.app-name {
  text-align: center;
}
.img-container {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}
.img-container img {
  height: 100px;
  width: auto;
}